@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-fantasy ">Nightborn</h1>
    <p>Born with no shadow, you are not bound by the laws of light.</p>
    <a class="btn btn-outline-light text-fantasy" 
        asp-controller="Act" 
        asp-action="1">Begin</a>
</div>
