/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family: 'MedievalSharp script=all rev=1';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://fonts.gstatic.com/s/medievalsharp/v14/EvOJzAlL3oU5AQl2mP5KdgptMqZwMjvX.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
/* latin */
@font-face {
    font-family: 'MedievalSharp script=all rev=1';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://fonts.gstatic.com/s/medievalsharp/v14/EvOJzAlL3oU5AQl2mP5KdgptMqhwMg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  /* Margin bottom by footer height */
  /* margin-bottom: 60px; */
  min-height: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif !important;
  margin: 0;
  padding: 0;
/* 
  background: rgb(59,143,202);
  background: linear-gradient(180deg, rgba(59,143,202,1) 0%, rgba(218,173,144,1) 40%, rgba(252,97,0,1) 80%, rgba(150,131,139,1) 98%, rgba(134,128,147,1) 100%) fixed; */
  background: rgb(218,88,86);
  background: linear-gradient(0deg, rgba(218,88,86,1) 0%, rgba(68,24,102,1) 19%, rgba(0,0,5,1) 100%) fixed;
}

.text-fantasy {
    font-family: "MedievalSharp script=all rev=1" !important;
    font-weight: 400;
}


.ta-container {
    height: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
